<form action='/result' method='post'>
	Name: <br>
	<input type='text' name='name'><br>
	Dojo Location: <br>
	<input type='text' name='loc'> <br>
	Favorite Language: <br>
	<input type='text' name='lang'> <br>
	Comment (optional): <br>
	<input type='text area' name='comment'> <br>
	<input type='submit'>
</form>