<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Form</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	
	 <h1>Add a Dog</h1>
	<form action='/update/<%= dog._id %>' method='post'>
		Name: <input type='text' name='name' value='<%= dog.name %>'>
		Breed: <input type='text' name='breed' value='<%= dog.breed %>'>
		<button>Edit Dog</button>
	</form>
	<a href='/'>Home</a>
    <a href='/add'>Add</a>

</body>
</html>
