<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Book</title>
    </head>
    <body>
       <h1>Add a Book</h1>
       <form action='/add_book' method='post'>
       	{% csrf_token %}
       	<label for='title'>Title:</label><br>
       	<input type='text' id='title' name='title'><br>
       	<label for='desc'>Description:</label><br>
       	<textarea id=desc' name='desc'></textarea><br>
       	<button>Submit</button>
       </form>

	    <h1>All Books</h1>
	    <table>
	    	<tr>
	    		<th>ID</th>
	    		<th>Title</th>
	    		<th>Action</th>
	    	</tr>
	    	{% for book in all_books %}
	    	<tr>
	    		<td>{{ book.id }}</td>
	    		<td>{{ book.title }}</td>
	    		<td><a href='books/{{ book.id }}'>View</a></td>
	    	</tr>
	    	{% endfor %}
	    </table>
    </body>
</html>