<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Checkerboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

       <!-- linking a css style sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<style>
			.one{
				height: 50px;
				width: 50px;
			{% if (col1 == none): %}
				background-color: black;
			{% else: %}
				background-color: {{ col1 }};
			{% endif %}
				display: inline-block;
			}
			.two{
				height: 50px;
				width: 50px;
			{% if (col1 == none): %}
				background-color: red;
			{% else: %}
				background-color: {{ col2 }};
			{% endif %}
				display: inline-block;
			}
		</style>
    </head>
    <body>
        <table>
	    {% for x in range(0,times): %} <!-- this represents how many rows to display  -->
	        <tr>
	        {% for x in range(0,y): %} <!-- this represents the first row -->
				<td class='one'></td>
	        	<td class='two'></td>
			{% endfor %}
			</tr>
			<tr>
			{% for x in range(0,y): %} <!-- this represents the second row -->
	        	<td class='two'></td>
	        	<td class='one'></td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
    </body>
</html>